interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zh-min-nan.wikipedia.org/w/api.php?action=parse&format=json&oldid=321061
  response:
    body:
      string: '{"parse":{"title":"Phoe-thai","pageid":28695,"revid":321061,"text":{"*":"<div
        class=\"mw-content-ltr mw-parser-output\" lang=\"nan\" dir=\"ltr\"><figure
        class=\"mw-default-size\" typeof=\"mw:File/Thumb\"><a href=\"/wiki/t%C3%B3ng-%C3%A0n:Human_Embryo_-_Approximately_8_weeks_estimated_gestational_age.jpg\"
        class=\"mw-file-description\"><img src=\"//upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Human_Embryo_-_Approximately_8_weeks_estimated_gestational_age.jpg/250px-Human_Embryo_-_Approximately_8_weeks_estimated_gestational_age.jpg\"
        decoding=\"async\" width=\"250\" height=\"167\" class=\"mw-file-element\"
        srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Human_Embryo_-_Approximately_8_weeks_estimated_gestational_age.jpg/500px-Human_Embryo_-_Approximately_8_weeks_estimated_gestational_age.jpg
        2x\" data-file-width=\"3872\" data-file-height=\"2592\" /></a><figcaption>J\u00een-l\u016bi
        8 l\u00e9-p\u00e0i s\u00ee \u00ea phoe-thai.</figcaption></figure>\n<p><b>Phoe-thai</b>
        (<a href=\"/wiki/Eng-g%C3%AD\" title=\"Eng-g\u00ed\">Eng-g\u00ed</a>: <i>embryo</i>)
        s\u012b <a href=\"/wiki/Hoat-io%CC%8Dk\" class=\"mw-redirect\" title=\"Hoat-io\u030dk\">hoat-io\u030dk</a>
        \u00ea ch\u00e1-k\u00ee kai-to\u0101\u207f, t\u00f9i <a href=\"/wiki/Nn%CC%84g\"
        title=\"Nn\u0304g\">nn\u0304g</a> he\u030dk-chi\u00e1 <a href=\"/w/index.php?title=Siu-cheng-nn%CC%84g&amp;action=edit&amp;redlink=1\"
        class=\"new\" title=\"Siu-cheng-nn\u0304g (i\u00e1u-bo\u0113 si\u00e1)\">siu-cheng-nn\u0304g</a>
        k\u00e1i-s\u00ed hun-lia\u030dt li\u00e1u-\u0101u kh\u00e1i-s\u00ed, k\u00e0u
        i ch\u00fa-i\u00e0u <a href=\"/wiki/Kh%C3%AC-koan\" title=\"Kh\u00ec-koan\">kh\u00ec-koan</a>
        h\u00eang-s\u00eang.\n</p>\n<table class=\"metadata plainlinks stub\" role=\"presentation\"
        style=\"background:transparent\"><tbody><tr class=\"noresize\"><td><span typeof=\"mw:File\"><a
        href=\"/wiki/t%C3%B3ng-%C3%A0n:Wiki_letter_w.svg\" class=\"mw-file-description\"><img
        alt=\"Stub icon\" src=\"//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Wiki_letter_w.svg/40px-Wiki_letter_w.svg.png\"
        decoding=\"async\" width=\"30\" height=\"30\" class=\"mw-file-element\" srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Wiki_letter_w.svg/60px-Wiki_letter_w.svg.png
        2x\" data-file-width=\"44\" data-file-height=\"44\" /></a></span></td><td><i>P\u00fan
        b\u00fbn-chiu\u207f s\u012b chi\u030dt phi\u207f <a href=\"/wiki/Wikipedia:Ph%C3%AD\"
        title=\"Wikipedia:Ph\u00ed\">ph\u00ed-\u00e1-ki\u00e1\u207f</a>. L\u00ed thang
        t\u00e0u <a class=\"external text\" data-mw-original-href=\"//zh-min-nan.wikipedia.org/w/index.php?title=Phoe-thai&amp;action=edit\"
        href=\"https://zh-min-nan.wikipedia.org/w/index.php?title=Phoe-thai&amp;action=edit\">khok-chhiong</a>
        l\u00e2i pang-ch\u014d\u0358 Wikipedia.</i><style data-mw-deduplicate=\"TemplateStyles:r3215574\">.mw-parser-output
        .hlist dl,.mw-parser-output .hlist ol,.mw-parser-output .hlist ul{margin:0;padding:0}.mw-parser-output
        .hlist dd,.mw-parser-output .hlist dt,.mw-parser-output .hlist li{margin:0;display:inline}.mw-parser-output
        .hlist.inline,.mw-parser-output .hlist.inline dl,.mw-parser-output .hlist.inline
        ol,.mw-parser-output .hlist.inline ul,.mw-parser-output .hlist dl dl,.mw-parser-output
        .hlist dl ol,.m[...]
