interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://tr.wikipedia.org/w/api.php?meta=siteinfo%7Cuserinfo%7Cuserinfo&siprop=general%7Cnamespaces&uiprop=groups%7Crights%7Cblockinfo%7Chasmsg&continue=&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"general":{"mainpage":"Anasayfa","base":"https://tr.wikipedia.org/wiki/Anasayfa","sitename":"Vikipedi","logo":"//tr.wikipedia.org/static/images/project-logos/trwiki.png","generator":"MediaWiki
        1.47.0-wmf.11","phpversion":"8.3.32","phpsapi":"fpm-fcgi","dbtype":"mysql","dbversion":"10.11.16-MariaDB-log","langconversion":"","linkconversion":"","titleconversion":"","linkprefixcharset":"","linkprefix":"","linktrail":"/^([a-z\u00c7\u011e\u00e7\u011f\u0130\u0131\u00d6\u00f6\u015e\u015f\u00dc\u00fc\u00c2\u00e2\u00ce\u00ee\u00db\u00fb]+)(.*)$/sDu","legaltitlechars":"
        %!\"$&''()*,\\-.\\/0-9:;=?@A-Z\\\\^_`a-z~\\x80-\\xFF+","invalidusernamechars":"@:>=","git-hash":"35ce3778f6617f21451012abc66e4bc84e742f03","git-branch":"wmf/1.47.0-wmf.11","case":"first-letter","lang":"tr","fallback":[{"code":"en"}],"fallback8bitEncoding":"windows-1252","writeapi":"","maxarticlesize":2097152,"timezone":"UTC","timeoffset":0,"articlepath":"/wiki/$1","scriptpath":"/w","script":"/w/index.php","variantarticlepath":false,"server":"//tr.wikipedia.org","servername":"tr.wikipedia.org","wikiid":"trwiki","time":"2026-07-19T02:11:36Z","misermode":"","uploadsenabled":"","maxuploadsize":5368709120,"minuploadchunksize":1024,"galleryoptions":{"imagesPerRow":0,"imageWidth":120,"imageHeight":120,"captionLength":"","showBytes":"","mode":"traditional","showDimensions":""},"thumblimits":[180,250,400],"imagelimits":[{"width":320,"height":240},{"width":640,"height":480},{"width":800,"height":600},{"width":1024,"height":768},{"width":1280,"height":1024},{"width":2560,"height":2048}],"favicon":"https://tr.wikipedia.org/static/favicon/wikipedia.ico","centralidlookupprovider":"CentralAuth","allcentralidlookupproviders":["CentralAuth","local"],"interwikimagic":"","magiclinks":{"ISBN":"","PMID":"","RFC":""},"categorycollation":"uca-tr","nofollowlinks":"","nofollownsexceptions":[],"nofollowdomainexceptions":["mediawiki.org","wikibooks.org","wikimedia.com","wikimedia.org","wikinews.org","wikipedia.org","wikiquote.org","wikisource.org","wikiversity.org","wiktionary.org","wikivoyage.org","wikidata.org","wikifunctions.org","tools.wmflabs.org","toolforge.org","etherpad.wmflabs.org"],"wmf-config":{"wmfMasterDatacenter":"eqiad","wmfEtcdLastModifiedIndex":3855669},"max-page-id":4716784,"linter":{"high":["deletable-table-tag","duplicate-ids","html5-misnesting","misc-tidy-replacement-issues","multiline-html-table-in-list","multiple-unclosed-formatting-tags","pwrap-bug-workaround","self-closed-tag","template-arg-in-extension-tag","tidy-font-bug","tidy-whitespace-bug","unclosed-quotes-in-heading"],"medium":["bogus-image-options","fostered","misnested-tag","multi-colon-escape","wikilink-in-extlink"],"low":["empty-heading","missing-end-tag","missing-end-tag-in-heading","night-mode-unaware-background-color","obsolete-tag","pre-expansion","stripped-tag"]},"mobileserver":"https://tr.wikipedia.org","pageviewservice-supported-metrics":{"pageviews":{"pageviews":""},"siteviews":{"pageviews":"","uniques":""},"mostviewed":{"pageviews":""}},"readinglists-config":{"maxListsPerUser":100,"maxEntriesPerList":5000,"deletedRetentionDays":30}},"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Ortam"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"\u00d6zel"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Tart\u0131\u015fma"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"Kullan\u0131c\u0131"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"Kullan\u0131c\u0131 mesaj"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Vikipedi"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Vikipedi tart\u0131\u015fma"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"Dosya"},"7":{"id":7,"case":"first-letter","subpages":"","canonical":"File
        talk","*":"Dosya tart\u0131\u015fma"},"8":{"id":8,"case":"first-letter","subpages":"","canonical":"MediaWiki","namespaceprotection":"editinterface","*":"MediaWiki"},"9":{"id":9,"case":"first-letter","subpages":"","canonical":"MediaWiki
        talk","*":"MediaWiki tart\u0131\u015fma"},"10":{"id":10,"case":"first-letter","subpages":"","canonical":"Template","*":"\u015eablon"},"11":{"id":11,"case":"first-letter","subpages":"","canonical":"Template
        talk","*":"\u015eablon tart\u0131\u015fma"},"12":{"id":12,"case":"first-letter","subpages":"","canonical":"Help","*":"Yard\u0131m"},"13":{"id":13,"case":"first-letter","subpa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://tr.wikipedia.org/w/api.php?prop=info&titles=Crazy+Mohan&inprop=protection&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"2408440":{"pageid":2408440,"ns":0,"title":"Crazy
        Mohan","contentmodel":"wikitext","pagelanguage":"tr","pagelanguagehtmlcode":"tr","pagelanguagedir":"ltr","touched":"2026-07-13T20:55:26Z","lastrevid":37112156,"length":11141,"protection":[],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"107.167.253.208","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 107.167.253.208
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://tr.wikipedia.org/w/api.php?prop=info&titles=Talk%3ACrazy+Mohan&inprop=protection&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"Talk:Crazy Mohan","to":"Tart\u0131\u015fma:Crazy
        Mohan"}],"pages":{"2558951":{"pageid":2558951,"ns":1,"title":"Tart\u0131\u015fma:Crazy
        Mohan","contentmodel":"wikitext","pagelanguage":"tr","pagelanguagehtmlcode":"tr","pagelanguagedir":"ltr","touched":"2026-07-01T04:41:29Z","lastrevid":30825362,"length":205,"protection":[],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"107.167.253.208","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 107.167.253.208
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://tr.wikipedia.org/w/api.php?prop=revisions&titles=Tart%C4%B1%C5%9Fma%3ACrazy+Mohan&rvdir=older&rvprop=ids%7Ctimestamp%7Cflags%7Ccomment%7Cuser&rvlimit=50&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"2558951":{"pageid":2558951,"ns":1,"title":"Tart\u0131\u015fma:Crazy
        Mohan","revisions":[{"revid":30825362,"parentid":23269971,"minor":"","user":"Botolog","timestamp":"2023-12-22T15:32:18Z","comment":"/*
        top */VPBanner \u2192 Tart\u0131\u015fma"},{"revid":23269971,"parentid":23096971,"user":"YBot","timestamp":"2020-09-16T15:17:49Z","comment":"[[Vikiproje:Biyografi|Biyografi
        vikiprojesine]] eklendi"},{"revid":23096971,"parentid":21596226,"user":"YBot","timestamp":"2020-08-25T15:27:17Z","comment":"[[Vikiproje:Hindistan|Hindistan
        vikiprojesine]] eklendi"},{"revid":21596226,"parentid":0,"user":"YBot","timestamp":"2020-02-29T19:47:28Z","comment":"[[Vikiproje:Sinema|Sinema
        vikiprojesine]] eklendi"}]}},"userinfo":{"id":0,"name":"107.167.253.208","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 107.167.253.208
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://tr.wikipedia.org/w/api.php?prop=revisions&titles=Tart%C4%B1%C5%9Fma%3ACrazy+Mohan&rvdir=older&rvprop=content&rvlimit=50&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"2558951":{"pageid":2558951,"ns":1,"title":"Tart\u0131\u015fma:Crazy
        Mohan","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Tart\u0131\u015fma|Proje=\n{{Vikiproje
        | Proje = Sinema | S\u0131n\u0131f = C | \u00d6nem = Az }}\n{{Vikiproje |
        Proje = Hindistan | S\u0131n\u0131f = C | \u00d6nem = Az }}\n{{Vikiproje |
        Proje = Biyografi | S\u0131n\u0131f = C | \u00d6nem = Az }}\n}}"},{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{VPBanner|\n{{Vikiproje
        | Proje = Sinema | S\u0131n\u0131f = C | \u00d6nem = Az }}\n{{Vikiproje |
        Proje = Hindistan | S\u0131n\u0131f = C | \u00d6nem = Az }}\n{{Vikiproje |
        Proje = Biyografi | S\u0131n\u0131f = C | \u00d6nem = Az }}\n}}"},{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Vikiproje
        | Proje = Sinema | S\u0131n\u0131f = C | \u00d6nem = Az }}\n{{Vikiproje |
        Proje = Hindistan | S\u0131n\u0131f = C | \u00d6nem = Az }}"},{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Vikiproje
        | Proje = Sinema | S\u0131n\u0131f = C | \u00d6nem = Az }}"}]}},"userinfo":{"id":0,"name":"107.167.253.208","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 107.167.253.208
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://tr.wikipedia.org/w/api.php?prop=revisions&titles=Crazy+Mohan&rvdir=older&rvprop=ids%7Ctimestamp%7Cflags%7Ccomment%7Cuser&rvlimit=50&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"2408440":{"pageid":2408440,"ns":0,"title":"Crazy
        Mohan","revisions":[{"revid":37112156,"parentid":37096524,"minor":"","user":"SpdyBot","t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?meta=siteinfo%7Cuserinfo%7Cuserinfo&siprop=general%7Cnamespaces&uiprop=groups%7Crights%7Cblockinfo%7Chasmsg&continue=&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"general":{"mainpage":"Main Page","base":"https://en.wikipedia.org/wiki/Main_Page","sitename":"Wikipedia","logo":"//en.wikipedia.org/static/images/project-logos/enwiki-25.png","generator":"Med[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info&titles=Crazy+Mohan&inprop=protection&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"11269250":{"pageid":11269250,"ns":0,"title":"Crazy
        Mohan","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-07-17T02:54:52Z","lastrevid":1364133327,"length":25366,"protection":[],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"107.167.253.208","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 107.167.253.208
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info&titles=Talk%3ACrazy+Mohan&inprop=protection&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"15244607":{"pageid":15244607,"ns":1,"title":"Talk:Crazy
        Mohan","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-07-17T14:52:36Z","lastrevid":1323490471,"length":1289,"protection":[],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"107.167.253.208","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 107.167.253.208
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=revisions&titles=Talk%3ACrazy+Mohan&rvdir=older&rvprop=ids%7Ctimestamp%7Cflags%7Ccomment%7Cuser&rvlimit=50&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"15244607":{"pageid":15244607,"ns":1,"title":"Talk:Crazy
        Mohan","revisions":[{"revid":1323490471,"parentid":1267182960,"minor":"","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=revisions&titles=Talk%3ACrazy+Mohan&rvdir=older&rvprop=content&rvlimit=50&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"15244607":{"pageid":15244607,"ns":1,"title":"Talk:Crazy
        Mohan","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{WikiProject
        ban[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=revisions&titles=Crazy+Mohan&rvdir=older&rvprop=ids%7Ctimestamp%7Cflags%7Ccomment%7Cuser&rvlimit=50&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"continue":{"rvcontinue":"20240427162159|1221058900","continue":"||userinfo"},"query":{"pages":{"11269250":{"pageid":11269250,"ns":0,"title":"Crazy
        Mohan","revisions":[{"revid":1364133327,"parentid":1364010230,"user":"DareshMohan","timestamp":"2026-07-14T18:29:25Z","comment":"/*
        As an actor */ ce"},{"revid":1364010230,"parentid":1364010140,"user":"DareshMohan","timestamp":"2026-07-13T23:11:24Z","comment":"/*
        As a writer */ ce"},{"revid":1364010140,"parentid":1364009872,"user":"DareshMohan","times[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=revisions&titles=Crazy+Mohan&rvdir=older&rvprop=ids%7Ctimestamp%7Cflags%7Ccomment%7Cuser&rvlimit=50&rvcontinue=20240427162159%7C1221058900&continue=%7C%7Cuserinfo&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"continue":{"rvcontinue":"20200608105148|961420512","continue":"||userinfo"},"query":{"pages":{"11269250":{"pageid":11269250,"ns":[...]
[...]
