interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=parse&format=json&oldid=31820970&prop=text&disablelimitreport=1&disabletoc=1
  response:
    body:
      string: '{"parse":{"title":"Andrei Broder","pageid":3458109,"revid":31820970,"text":{"*":"<div
        class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><p><b>Andrei
        Broder</b> is a Research Fellow and Vice President of Emerging Search Technology
        for <a href=\"/wiki/Yahoo\" title=\"Yahoo\">Yahoo</a>. He previously has worked
        for <a href=\"/wiki/AltaVista\" title=\"AltaVista\">AltaVista</a> as the vice
        president of research, and for <a href=\"/wiki/IBM_Research\" title=\"IBM
        Research\">IBM Research</a> as a Distinguished Engineer &amp; CTO.\n</p><p>He
        has done research into the <a href=\"/wiki/Internet\" title=\"Internet\">internet</a>,
        and internet searching. He is credited with being one of the first people
        to develop a <a href=\"/wiki/Captcha\" class=\"mw-redirect\" title=\"Captcha\">Captcha</a>,
        while working for AltaVista.\n</p><p>He earned his PhD from <a href=\"/wiki/Stanford_University\"
        title=\"Stanford University\">Stanford University</a> in <a href=\"/wiki/1985\"
        title=\"1985\">1985</a>, where his advisor was <a href=\"/wiki/Donald_Knuth\"
        title=\"Donald Knuth\">Donald Knuth</a>.\n</p>\n<style data-mw-deduplicate=\"TemplateStyles:r1364181290\">.mw-parser-output
        .asbox{position:relative;overflow:hidden}.mw-parser-output .asbox table{background:transparent}.mw-parser-output
        .asbox p{margin:0}.mw-parser-output .asbox p+p{margin-top:0.25em}.mw-parser-output
        .asbox-body{font-style:italic}.mw-parser-output .asbox-note{font-size:smaller}.mw-parser-output
        .asbox .navbar{position:absolute;top:-0.75em;right:1em;display:none}.mw-parser-output
        :not(p):not(.asbox)+.mw-empty-elt+.asbox{margin-top:3em}</style><div role=\"note\"
        class=\"metadata plainlinks asbox stub\"><table role=\"presentation\"><tbody><tr
        class=\"noresize\"><td><span typeof=\"mw:File\"><a href=\"/wiki/File:Desktop_computer_clipart_-_Yellow_theme.svg\"
        class=\"mw-file-description\"><img alt=\"Stub icon\" src=\"//upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Desktop_computer_clipart_-_Yellow_theme.svg/40px-Desktop_computer_clipart_-_Yellow_theme.svg.png\"
        decoding=\"async\" width=\"40\" height=\"29\" class=\"mw-file-element\" srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Desktop_computer_clipart_-_Yellow_theme.svg/120px-Desktop_computer_clipart_-_Yellow_theme.svg.png
        2x\" data-file-width=\"281\" data-file-height=\"203\" /></a></span></td><td><p[...]
