interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fr.wikipedia.org/w/api.php?meta=siteinfo%7Cuserinfo%7Cuserinfo&siprop=general%7Cnamespaces&uiprop=groups%7Crights%7Cblockinfo%7Chasmsg&continue=&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"general":{"mainpage":"Wikip\u00e9dia:Accueil
        principal","base":"https://fr.wikipedia.org/wiki/Wikip%C3%A9dia:Accueil_principal","sitename":"Wikip\u00e9dia","logo":"//fr.wikipedia.org/static/images/project-logos/frwiki-25.png","generator":"MediaWiki
        1.47.0-wmf.11","phpversion":"8.3.32","phpsapi":"fpm-fcgi","dbtype":"mysql","dbversion":"10.11.16-MariaDB-log","langconversion":"","linkconversion":"","titleconversion":"","linkprefixcharset":"","linkprefix":"","linktrail":"/^([a-z\u00e0\u00e2\u00e7\u00e9\u00e8\u00ea\u00ee\u00f4\u00fb\u00e4\u00eb\u00ef\u00f6\u00fc\u00f9\u00c7\u00c9\u00c2\u00ca\u00ce\u00d4\u00db\u00c4\u00cb\u00cf\u00d6\u00dc\u00c0\u00c8\u00d9]+)(.*)$/sDu","legaltitlechars":"
        %!\"$&''()*,\\-.\\/0-9:;=?@A-Z\\\\^_`a-z~\\x80-\\xFF+","invalidusernamechars":"@:>=","git-hash":"35ce3778f6617f21451012abc66e4bc84e742f03","git-branch":"wmf/1.47.0-wmf.11","case":"first-letter","lang":"fr","fallback":[{"code":"en"}],"fallback8bitEncoding":"windows-1252","writeapi":"","maxarticlesize":2097152,"timezone":"Europe/Paris","timeoffset":120,"articlepath":"/wiki/$1","scriptpath":"/w","script":"/w/index.php","variantarticlepath":false,"server":"//fr.wikipedia.org","servername":"fr.wikipedia.org","wikiid":"frwiki","time":"2026-07-19T02:32:41Z","misermode":"","uploadsenabled":"","maxuploadsize":5368709120,"minuploadchunksize":1024,"galleryoptions":{"imagesPerRow":0,"imageWidth":120,"imageHeight":120,"captionLength":"","showBytes":"","mode":"traditional","showDimensions":""},"thumblimits":[180,250,400],"imagelimits":[{"width":320,"height":240},{"width":640,"height":480},{"width":800,"height":600},{"width":1024,"height":768},{"width":1280,"height":1024},{"width":2560,"height":2048}],"favicon":"https://fr.wikipedia.org/static/favicon/wikipedia.ico","centralidlookupprovider":"CentralAuth","allcentralidlookupproviders":["CentralAuth","local"],"interwikimagic":"","magiclinks":{"ISBN":"","PMID":"","RFC":""},"categorycollation":"uca-fr-u-kn","nofollowlinks":"","nofollownsexceptions":[],"nofollowdomainexceptions":["mediawiki.org","wikibooks.org","wikimedia.com","wikimedia.org","wikinews.org","wikipedia.org","wikiquote.org","wikisource.org","wikiversity.org","wiktionary.org","wikivoyage.org","wikidata.org","wikifunctions.org","tools.wmflabs.org","toolforge.org","etherpad.wmflabs.org"],"wmf-config":{"wmfMasterDatacenter":"eqiad","wmfEtcdLastModifiedIndex":3855669},"citeresponsivereferences":"","max-page-id":17526441,"linter":{"high":["deletable-table-tag","duplicate-ids","html5-misnesting","misc-tidy-replacement-issues","multiline-html-table-in-list","multiple-unclosed-formatting-tags","pwrap-bug-workaround","self-closed-tag","template-arg-in-extension-tag","tidy-font-bug","tidy-whitespace-bug","unclosed-quotes-in-heading"],"medium":["bogus-image-options","fostered","misnested-tag","multi-colon-escape","wikilink-in-extlink"],"low":["empty-heading","missing-end-tag","missing-end-tag-in-heading","night-mode-unaware-background-color","obsolete-tag","pre-expansion","stripped-tag"]},"mobileserver":"https://fr.wikipedia.org","pageviewservice-supported-metrics":{"pageviews":{"pageviews":""},"siteviews":{"pageviews":"","uniques":""},"mostviewed":{"pageviews":""}},"readinglists-config":{"maxListsPerUser":100,"maxEntriesPerList":5000,"deletedRetentionDays":30}},"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"M\u00e9dia"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Sp\u00e9cial"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Discussion"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"Utilisateur"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"Discussion utilisateur"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikip\u00e9dia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Discussion Wikip\u00e9dia"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"Fichier"},"7":{"id":7,"case":"first-letter","subpages":"","canonical":"File
        talk","*":"Discussion fichier"},"8":{"id":8,"case":"first-letter","canonical":"MediaWiki","namespaceprotection":"editinterface","*":"MediaWiki"},"9":{"id":9,"case":"first-letter","subpages":"","canonical":"MediaWiki
        talk","*":"Discussion MediaWiki"},"10":{"id":10,"case":"first-letter","subpages":"","canonical":"Template","*":"Mod\u00e8le"},"11":{"id":11,"case":"first-letter","subpages":"","canonical":"Template
        talk","*":"Discussion mod\u00e8le"},"12":{"id":12,"case":"first-letter","subpages":"","canonical":"Help","*":"Aide"},"13":{"id":13,"case":"first-letter","subpages":"","canonical":"He[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fr.wikipedia.org/w/api.php?prop=info&titles=Andrei+Broder&inprop=protection&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"8019489":{"pageid":8019489,"ns":0,"title":"Andrei
        Broder","contentmodel":"wikitext","pagelanguage":"fr","pagelanguagehtmlcode":"fr","pagelanguagedir":"ltr","touched":"2026-07-15T13:39:06Z","lastrevid":227273697,"length":2216,"protection":[],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"107.167.253.208","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 107.167.253.208
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fr.wikipedia.org/w/api.php?prop=info&titles=Talk%3AAndrei+Broder&inprop=protection&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"Talk:Andrei Broder","to":"Discussion:Andrei
        Broder"}],"pages":{"9330495":{"pageid":9330495,"ns":1,"title":"Discussion:Andrei
        Broder","contentmodel":"wikitext","pagelanguage":"fr","pagelanguagehtmlcode":"fr","pagelanguagedir":"ltr","touched":"2026-07-12T11:07:28Z","lastrevid":133928212,"length":50,"protection":[],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"107.167.253.208","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 107.167.253.208
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fr.wikipedia.org/w/api.php?prop=revisions&titles=Discussion%3AAndrei+Broder&rvdir=older&rvprop=ids%7Ctimestamp%7Cflags%7Ccomment%7Cuser&rvlimit=50&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"9330495":{"pageid":9330495,"ns":1,"title":"Discussion:Andrei
        Broder","revisions":[{"revid":133928212,"parentid":119737667,"minor":"","user":"Guillaume70","timestamp":"2017-01-23T22:49:52Z","comment":"\u00e9val"},{"revid":119737667,"parentid":117462170,"user":"Metamorforme42","timestamp":"2015-10-22T23:45:46Z","comment":"[[MediaWiki:Gadget-Evaluation.js|\u00c9valuation]]:  Multiprojet
        (BD) Cryptologie|?)"},{"revid":117462170,"parentid":0,"user":"DSisyphBot","timestamp":"2015-08-04T21:28:34Z","comment":"Bot
        [[WP:RBOT]], ajoute \u00e9valuation pour le [[Projet:Cryptologie]], avancement
        et importance inconnus"}]}},"userinfo":{"id":0,"name":"107.167.253.208","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 107.167.253.208
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fr.wikipedia.org/w/api.php?prop=revisions&titles=Discussion%3AAndrei+Broder&rvdir=older&rvprop=content&rvlimit=50&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"9330495":{"pageid":9330495,"ns":1,"title":"Discussion:Andrei
        Broder","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Wikiprojet\n|Cryptologie|faible\n|avancement=BD\n}}"},{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Wikiprojet\n|Cryptologie|?\n|avancement=BD\n}}"},{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Wikiprojet\n|Cryptologie|?\n|avancement=?\n}}"}]}},"userinfo":{"id":0,"name":"107.167.253.208","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 107.167.253.208
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fr.wikipedia.org/w/api.php?prop=revisions&titles=Andrei+Broder&rvdir=older&rvprop=ids%7Ctimestamp%7Cflags%7Ccomment%7Cuser&rvlimit=50&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"8019489":{"pageid":8019489,"ns":0,"title":"Andrei
        Broder","revisions":[{"revid":227273697,"parentid":218407245,"user":"Leparc","timesta[...]
