interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?meta=siteinfo%7Cuserinfo%7Cuserinfo&siprop=general%7Cnamespaces&uiprop=groups%7Crights%7Cblockinfo%7Chasmsg&continue=&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"general":{"mainpage":"Main Page","base":"https://en.wikipedia.org/wiki/Main_Page","sitename":"Wikipedia","logo":"//en.wikipedia.org/static/images/project-logos/enwiki-25.png","generator":"MediaWiki
        1.47.0-wmf.11","phpversion":"8.3.32","phpsapi":"fpm-fcgi","dbtype":"mysql","dbversion":"10.11.16-MariaDB-log","langconversion":"","linkconversion":"","titleconversion":"","linkprefixcharset":"","linkprefix":"","linktrail":"/^([a-z]+)(.*)$/sD","legaltitlechars":"
        %!\"$&''()*,\\-.\\/0-9:;=?@A-Z\\\\^_`a-z~\\x80-\\xFF+","invalidusernamechars":"@:>=","git-hash":"35ce3778f6617f21451012abc66e4bc84e742f03","git-branch":"wmf/1.47.0-wmf.11","case":"first-letter","lang":"en","fallback":[],"fallback8bitEncoding":"windows-1252","writeapi":"","maxarticlesize":2097152,"timezone":"UTC","timeoffset":0,"articlepath":"/wiki/$1","scriptpath":"/w","script":"/w/index.php","variantarticlepath":false,"server":"//en.wikipedia.org","servername":"en.wikipedia.org","wikiid":"enwiki","time":"2026-07-19T02:26:41Z","misermode":"","uploadsenabled":"","maxuploadsize":5368709120,"minuploadchunksize":1024,"galleryoptions":{"imagesPerRow":0,"imageWidth":120,"imageHeight":120,"captionLength":"","showBytes":"","mode":"traditional","showDimensions":""},"thumblimits":[180,250,400],"imagelimits":[{"width":320,"height":240},{"width":640,"height":480},{"width":800,"height":600},{"width":1024,"height":768},{"width":1280,"height":1024},{"width":2560,"height":2048}],"favicon":"https://en.wikipedia.org/static/favicon/wikipedia.ico","centralidlookupprovider":"CentralAuth","allcentralidlookupproviders":["CentralAuth","local"],"interwikimagic":"","magiclinks":[],"categorycollation":"uca-default-u-kn","nofollowlinks":"","nofollownsexceptions":[],"nofollowdomainexceptions":["mediawiki.org","wikibooks.org","wikimedia.com","wikimedia.org","wikinews.org","wikipedia.org","wikiquote.org","wikisource.org","wikiversity.org","wiktionary.org","wikivoyage.org","wikidata.org","wikifunctions.org","tools.wmflabs.org","toolforge.org","etherpad.wmflabs.org"],"wmf-config":{"wmfMasterDatacenter":"eqiad","wmfEtcdLastModifiedIndex":3855669},"citeresponsivereferences":"","max-page-id":83727275,"linter":{"high":["deletable-table-tag","duplicate-ids","html5-misnesting","misc-tidy-replacement-issues","multiline-html-table-in-list","multiple-unclosed-formatting-tags","pwrap-bug-workaround","self-closed-tag","template-arg-in-extension-tag","tidy-font-bug","tidy-whitespace-bug","unclosed-quotes-in-heading"],"medium":["bogus-image-options","fostered","misnested-tag","multi-colon-escape","wikilink-in-extlink"],"low":["empty-heading","missing-end-tag","missing-end-tag-in-heading","night-mode-unaware-background-color","obsolete-tag","pre-expansion","stripped-tag"]},"mobileserver":"https://en.wikipedia.org","pageviewservice-supported-metrics":{"pageviews":{"pageviews":""},"siteviews":{"pageviews":"","uniques":""},"mostviewed":{"pageviews":""}},"readinglists-config":{"maxListsPerUser":100,"maxEntriesPerList":5000,"deletedRetentionDays":30}},"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter","subpages":"","canonical":"File
        talk","*":"File talk"},"8":{"id":8,"case":"first-letter","canonical":"MediaWiki","namespaceprotection":"editinterface","*":"MediaWiki"},"9":{"id":9,"case":"first-letter","subpages":"","canonical":"MediaWiki
        talk","*":"MediaWiki talk"},"10":{"id":10,"case":"first-letter","subpages":"","canonical":"Template","*":"Template"},"11":{"id":11,"case":"first-letter","subpages":"","canonical":"Template
        talk","*":"Template talk"},"12":{"id":12,"case":"first-letter","subpages":"","canonical":"Help","*":"Help"},"13":{"id":13,"case":"first-letter","subpages":"","canonical":"Help
        talk","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info&titles=Andrei+Broder&inprop=protection&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"3458109":{"pageid":3458109,"ns":0,"title":"Andrei
        Broder","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-07-17T02:54:16Z","lastrevid":1359982198,"length":8336,"protection":[],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"107.167.253.208","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 107.167.253.208
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info&titles=Talk%3AAndrei+Broder&inprop=protection&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"6294784":{"pageid":6294784,"ns":1,"title":"Talk:Andrei
        Broder","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2026-07-18T09:05:19Z","lastrevid":1321746988,"length":1252,"protection":[],"restrictiontypes":["edit","move"]}},"userinfo":{"id":0,"name":"107.167.253.208","anon":""}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-analytics:
      - ''
      x-client-ip:
      - 107.167.253.208
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=revisions&titles=Talk%3AAndrei+Broder&rvdir=older&rvprop=ids%7Ctimestamp%7Cflags%7Ccomment%7Cuser&rvlimit=50&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"6294784":{"pageid":6294784,"ns":1,"title":"Talk:Andrei
        Broder","revisions":[{"revid":1321746988,"parentid":1256877249,"user":"~2025-33016-58","temp":"","timestamp":"2025-11-12T11:58:42Z","comment":"completed"},{"revid":1256877249,"parentid":1206443066,"minor":"","user":"Tom.Reding","timestamp":"2024-11-12T00:42:11Z","comment":"/*
        top */ -dup blp params; cleanup"},{"revid":1206443066,"parentid":835740694,"minor":"","user":"Cewbot","timestamp":"2024-02-12T04:52:13Z","comment":"[[User:Cewbot/log/20200122/configuration|Maintain
        {{WPBS}}]]: 4 WikiProject templates. Keep majority rating \"Stub\" in {{WPBS}}.
        Remove 3 same ratings as {{WPBS}} in {{WikiProject Biography}}, {{WikiProject
        Israel}}, {{WikiProject Internet culture[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=revisions&titles=Talk%3AAndrei+Broder&rvdir=older&rvprop=content&rvlimit=50&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"6294784":{"pageid":6294784,"ns":1,"title":"Talk:Andrei
        Broder","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Skip
        to talk}}\n{{WikiProject banner shell|class=Stub|blp=yes|listas=Broder, Andrei|1=\n{{WikiProject
        Biography|auto=yes}}\n{{WikiProject Israel|importance=low}}\n{{WikiProject
        Internet culture}}\n{{WikiProject Computer science}}\n}}\n\n== External links
        modified ==\n\nHello fellow Wikipedians,\n\nI have just modified one external
        link on [[Andrei Broder]]. Please take a moment to review [https://en.wikipedia.org/w/index.php?diff=prev&oldid=789069321
        my edit]. If you have any questions, or need the bot to ignore the links,
        or the page altogether, please visit [[User:Cyberpower678/FaQs#InternetArchiveBot|this
        simple FaQ]] for additional information. I made the following changes:\n*Added
        archive https://web.archive.org/web/20060216002843/http://docs.yahoo.com/docs/pr/release1271.html
        to http://docs.yahoo.com/docs/pr/release1271.html\n\nWhen you have finished
        reviewing my changes, you may follow the instructions on the template below
        to fix any issues with the URLs.\n\n{{sourcecheck|checked=false|needhelp=}}\n\nCheers.\u2014[[User:InternetArchiveBot|''''''<span
        style=\"color:darkgrey;font-family:monospace\">InternetArchiveBot</span>'''''']]
        <span style=\"color:green;font-family:Rockwell\">([[User talk:InternetArchiveBot|Report
        bug]])</span> 04:35, 5 July 2017 (UTC)"},{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Skip
        to talk}}\n{{WikiProject banner shell|class=Stub|blp=yes|listas=Broder, Andrei|1=\n{{WikiProject
        Biography|auto=yes}}\n{{WikiProject Israel|importance=low}}\n{{WikiProject
        Internet culture}}\n{{WikiProject Computer science|needs-infobox=yes}}\n}}\n\n==
        External links [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=revisions&titles=Andrei+Broder&rvdir=older&rvprop=ids%7Ctimestamp%7Cflags%7Ccomment%7Cuser&rvlimit=50&continue=&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"continue":{"rvcontinue":"20181017182556|864512816","continue":"||userinfo"},"query":{"pages":{"3458109":{"pageid":3458109,"ns":0,"title":"Andrei
        Broder","revisions":[{"revid":1359982198,"parentid":1358999322,"user":"Melcous","timestamp":"2026-06-18T13:38:10Z","comment":"nationality
        and occupation before current role"},{"revid":1358999322,"parentid":1354843310,"user":"Andrei
        Stroe","timestamp":"2026-06-12T11:28:48Z","comment":"Added {{[[Template:Third-party|Third-party]]}}
        tag"},{"revid":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=revisions&titles=Andrei+Broder&rvdir=older&rvprop=ids%7Ctimestamp%7Cflags%7Ccomment%7Cuser&rvlimit=50&rvcontinue=20181017182556%7C864512816&continue=%7C%7Cuserinfo&meta=userinfo&uiprop=blockinfo%7Chasmsg&action=query&format=json
  response:
    body:
      string: '{"continue":{"rvcontinue":"20110406155945|422711107","continue":"||userinfo"},"query":{"pages":{"3458109":{"pageid":3458109,"ns":0[...]
[...]
